#chat-screen { 
    background-color: #abc1d1;
    height: 300vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #b9d2e4;

}

#chat-screen .status-bar {
    z-index: 2;
}


#chat-screen .alt-header {
    top: 5px;
    z-index: ;
}

.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;

}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 8px 15px;
    border-radius: 25px;
    margin-bottom: 25px;

}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;

}

.message-row img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 12px;
}

.message__author {
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;

}

.message__info {
display: flex;
align-items: flex-end;
margin-right: 5px;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 14px;
}

.message-row__own { 
    justify-content: flex-end;
}

.message-row__own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    margin-left: 5px;
}

.message-row__own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    box-sizing: border-box;
    align-items: center;
}

.reply .reply___column:first-child {
    width: 10%;
}

.reply .reply___column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 10px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
}

.reply___column:last-child > i,
.reply___column:last-child button {
    position: absolute; 
    right: -18px;
    top: 3px;
}

.reply___column:last-child > i {
    right: 20px;
    top: 12px;
}


.reply___column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply___column button i {
    opacity:1;
}
}

.reply___column button:focus,
.reply___column button:active {
    outline: none;

}

.reply i {
    opacity: 0.5;
}